<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap" rel="stylesheet" />
    <!--Style-->
    <link rel="stylesheet" href="style.css" />
    <!--Axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Milestone 2</title>
  </head>
  <body>
    <div id="app">
      <header>
        <div class="logo">
          <a href="index.html"><img src="img/logo-small.svg" alt="Logo" /></a>
        </div>
        <div class="search">
          <input type="text" v-model="search" placeholder="Cerca Genere" />
          <button @click="filtroDischi">Cerca</button>
        </div>
      </header>

      <main>
        <div class="container">
          <div class="dischi">
            <div class="disco" v-for="element in arrayDischi">
              <img :src="element.poster" />
              <h3>{{ element.title }}</h3>
              <h4>{{ element.author }}</h4>
              <h4>{{ element.year }}</h4>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
